<footer md-colors="{background: 'primary-900'}" class="vertical-padded" layout="row" layout-align="center center">
  <div flex="80" layout="row" layout-align="space-between">
    <div layout="row" layout-align="start">
      <div layout="column" layout-align="start start">
        <md-button class="md-small no-margin" ng-redirect-to="#!/about">About Us</md-button>
        <md-button class="md-small no-margin" ng-redirect-to="#!/contact">Contact Us</md-button>
        <md-button class="md-small no-margin" ng-redirect-to="#!/faq">FAQ</md-button>
      </div>
      <div layout="column" layout-align="start start">
        <md-button class="md-small no-margin" ng-redirect-to="#!/subscribe">Subscribe</md-button>
        <md-button class="md-small no-margin" ng-redirect-to="#!/submit">Contribute</md-button>
        <md-button class="md-small no-margin" ng-redirect-to="#!/feedback">Hugs n Bugs</md-button>
      </div>
      <div layout="column" layout-align="start start">
        <md-button class="md-small no-margin" ng-redirect-to="#!/terms">Terms and Conditions</md-button>
        <md-button class="md-small no-margin" ng-redirect-to="#!/privacyPolicy">Privacy Policy</md-button>
      </div>
    </div>
    <div layout="column" layout-align="start start">
      &copy; Copyright 2018 Bit Vote
    </div>
  </div>
</footer>
