<div layout="column">
  <div md-colors="{background: 'primary'}" ng-include="'modules/home/views/header.html'"></div>

  <div layout="row" layout-align="space-around" flex="noshrink">
    <div flex="80" class="content-div">
      <h5 class="text-center" md-colors="{color: 'primary'}">Who We Are?</h5>
      <p class="home-paragraph">
        The problem is an overarching bent towards malpractices like EVM Hacks in the elections.
        There is a need to support the tech growth with investment in blockchain and cryptography to prepare for the
        future.
        Revamping the voting system can help us get more people's interest in voting. In the current scenario, only 60%
        of the people vote and most organizations are enable to ensure trust in voting system.

        We want a paradigm shift in voting from being ‘evm hacks, booth hacks’ to ’forget-hacks’, making organizations
        focus on grabbing voter attentions rather than worrying about organizing voting and securing the process.
        We believe, this will truly change the voting landscape at the most fundamental level in the country.
        A reinvention is needed to develop the tools of change needed to survive in the algorithm age.
      </p>
    </div>
  </div>

  <div ng-include="'modules/home/views/footer.html'"></div>
</div>


