<div layout="column" flex>

  <div md-colors="{background: 'primary'}" ng-include="'modules/home/views/header.html'"></div>

  <div class="content-div" layout="row" layout-align="center center" flex="noshrink">
    <div flex="80">
      <h5 class="text-center" md-colors="{color: 'primary'}">Get In Touch With Us</h5>
      <md-divider></md-divider>
      <br><br>
      <md-content class="md-padding" layout="row" layout-align="center" layout-xs="column">
        <md-card flex="33" class="md-whiteframe-8dp">
          <br>
          <div layout="row" layout-align="center center">
            <md-icon class="md-primary" md-svg-src="images/icons/ic_email_black_24px.svg"></md-icon>
          </div>
          <md-subheader class="text-center">
            Email
          </md-subheader>
          <md-card-content class="text-center">
          <span>
            rohanagarwal12236@gmail.com
          </span>
            <br>
            <span>
            rohanagarwal12236@gmail.com
          </span>
          </md-card-content>
        </md-card>

        <md-card flex="33" class="md-whiteframe-8dp">
          <br>
          <div layout="row" layout-align="center center">
            <md-icon class="md-primary" md-svg-src="images/icons/ic_phone_black_24px.svg"></md-icon>
          </div>
          <md-subheader class="text-center">
            Phone
          </md-subheader>
          <md-card-content class="text-center">
          <span>
            +91-9058557443
          </span>
            <br>
            <span>
            +91-9058557443
          </span>
          </md-card-content>
        </md-card>

        <md-card flex="33" class="md-whiteframe-8dp">
          <br>
          <div layout="row" layout-align="center center">
            <md-icon class="md-primary" md-svg-src="images/icons/facebook.svg"></md-icon>
          </div>
          <md-subheader class="text-center">
            Facebook
          </md-subheader>
          <md-card-content class="text-center">
          <span>
            <a href="http://www.facebook.com/bitvote">www.facebook.com/bitvote</a>
          </span>
          </md-card-content>
        </md-card>
      </md-content>

    </div>
  </div>

  <div ng-include="'modules/home/views/footer.html'"></div>
</div>
