<div class="content-div" layout="column" layout-align="center center" ng-controller="userCtrl" >
  <span class="md-subhead" md-colors="{color: 'accent-600'}" ng-show="hasKeys">
    Your keys have been generated successfully
  </span>
  <br>
  <md-card flex="60">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" md-colors="{color: 'primary'}">{{name}}</span>
        <span class="md-subhead" md-colors="{color: 'accent-600'}">Enjoy Digital Ultra Secure Voting</span>
      </md-card-title-text>
    </md-card-title>
    <md-divider></md-divider>
  </md-card>
</div>
